<ion-header>
  <ion-toolbar>
    <ion-title>Android</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-toggle aria-label="Even" (ionChange)="toggleEvenOdd()"
      >Toggle even/odd</ion-toggle
    >
  </ion-item>
  @for (item of filteredArray; track $index) {
  <ion-card>
    <ion-card-header>
      <ion-card-title> {{item}} </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile, and
      climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>
  }
</ion-content>
